*.stash
debug/
release/
Makefile
*.user
khollo.pro.user
*.a7d366c
Makefile.Debug
*.Release
object_script.khollo.Debug
ui_groupsmanager.h
ui_kholleursmanager.h
ui_mainwindow.h
ui_studentsmanager.h
ui_subjectsmanager.h
ui_updatestudentdialog.h